@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Dosis:wght@200;300;400;500;600;700;800&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Major+Mono+Display&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
  height: fit-content;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.5rem;
  /* width: 100vh; */
  display: flex;
  justify-content: center;
  /* margin: -10px 20px 10px 20px; */
  /* min-width: 100vh; */
  /* display: flex;
  justify-content: center; */
  text-align: center;
  background-color: #eff0f3;
}

h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;

  /* font-family: "Major Mono Display", monospace; */
  /* font-family: "Dela Gothic One"; */
}

a {
  color: black;
  text-decoration: none;
}

/* #headerContainer {
  display: flex;
  flex-wrap: nowrap;
} */

.sectionLine {
  /* height: 200px; */
  border: solid black 2px;
  margin: 10px 0px 0px 0px;
  background-color: white;
  width: 100vw;
}

/* #navBarSectionLine {
  position: fixed;
  top: 0;
} */

.nameTitle {
  /* display: flex;
  flex-wrap: nowrap; */
  /* justify-content: center; */
  font-family: "Dela Gothic One";
  letter-spacing: 0.24rem;
  font-size: 1.3rem;
  min-width: 200px;
  height: 80px;
  padding: 0px 0px 20px 0px;
  padding-left: 20px;
  white-space: nowrap;
  position: relative;
  top: -25px;
  left: 10px;

  /* white-space: nowrap; stops it being responsive */
  /* margin: auto; */
  /* position: relative;
  left: -1px; */
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0.1px;
  left: 0;
  background-color: #eff0f3;
  /* background-color: #d9d5f5; lilac colour */
  height: 65px;
  /* min-width: 380px; */
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
  /* justify-content: flex-start; */
  min-width: 360px;
  margin: -20px 0px 0px 0px;
  /* how can I get the title to go to the top of the screen? */
  padding: 10px 0px 0px 0px;
  /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1); */
  /* border-bottom: 10px rgb(239, 240, 243, 0.4) solid; */
  z-index: 998;

  border-bottom: solid black;
  border-width: 2.5px;
}

/* not being used */
.jobTitle {
  display: flex;
  font-size: 15px;
  min-width: 380px;
  flex-wrap: nowrap;
  /* white-space: nowrap; */
  font-family: "Major Mono Display", monospace;
  margin: 0px 0px 10px 0px;
  padding: 2px 0px 10px 0px;
  text-align: left;
}

#jobTitle {
  font-size: 20px;
  display: flex;
  margin: 20px 0px 0px 0px;
}

#burgerWrapper {
  position: absolute;
  top: 0px;
  right: 0;
}

#burgerSvg {
  justify-content: flex-end;
  height: 40px;
  width: 40px;
  margin: 28px 0px 0px 300px;
  position: relative;
  top: -13px;
  right: 10px;
  z-index: 999;
}

#burgerSvg:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.burgerSideBar {
  font-size: 1.5rem;
  /* background-color: white; */
  opacity: 1;
  position: relative;
  top: -90px;
  right: 0px;
  width: 350px;

  height: 100vh;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1.5rem;
}

.burgerNavItems {
  font-family: "Dosis Bold", sans-serif;
  letter-spacing: 0.3rem;
  font-size: 22px;
  opacity: 1;
  border: #5bb5f1 solid;
  border-width: 3px;
  box-shadow: 3px 3px;
  /* margin: 20px 20px 30px 20px; */
  padding: 15px 5px 0px 5px;
  color: black;
  width: 200px;
  height: 50px;
}

.burgerNavItems:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

.burgerNav {
  background-color: #fca2e9;
  border: #f15bb5 solid;
  border-width: 3px;
  border-radius: 20px;
  opacity: 0.9;
  /* greenish colour #00f5d4 */
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  /* position: fixed;
  top: 0;
  right: -100%; */
  transition: 1.3s;
  transform: translateZ(100vh);
}

.burgerNavInner {
  position: relative;
  top: 100px;
  opacity: 1;
}

.burgerMenuHidden {
  background-color: antiquewhite;
  opacity: 0;
  width: 100px;
  height: 100px;
  right: 0;
  /* transition: 1s;
  /* transform: translateY(50px);  */
}

ul li {
  list-style: none;
  margin: 20px;
}

.navCloseButton {
  width: 90px;
  visibility: hidden;
  opacity: 0;
}

.navButton {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

/* can use opacity to get this to gradually appear */
/* .burgerMenuProper {
  display: none;
} */

/* keep this!! */
/* /////////////////////////// */

/* when burgerMenu is hovered it turns on .burgerMenuProper */
/* It is also stays on until you click out of it */

/* .burgerMenu:hover .burgerMenuProper,
.burgerMenu:focus-within .burgerMenuProper {
  display: initial;
} */

/* /////////////////////////// */

a:hover {
  color: #569cfa;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#jobTitleContainer {
  display: flex;
  justify-content: center;
}

#navBarItemsWrapper {
  display: flex;
  justify-content: flex-end;
}

.navBarItems {
  font-size: 2rem;
  margin: 0 20px 0 20px;
}

#navSpacer {
  width: 150px;
}

#introSection {
  margin-left: 30px;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 25px 0px;
  /* font-size: 40px; */
  text-align: left;
  width: 100%;

  /* border-bottom: solid black 0.5px; */
  /* background-color: #5bb5f1; */
}

.selfie {
  width: 200px;
  /* height: 220px; */
  z-index: 700;
}

.selfieWrapper {
  display: flex;
  justify-content: flex-start;
  /* background-color: #ffc900; */

  /* z-index: 800; */

  /* position: absolute; */
  /* display: flex;
  /* justify-content: center; */
}

/* .purpleBlob {
  width: 300px;
  position: absolute;
  top: 130px;
  left: 225px;
  stroke: #646464;
  stroke-width: 50px;

  /* z-index: 700; 
} */

.introWords {
  background-color: #f15bb5;
}

.introIconsWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.introIcons {
  width: 10rem;
  height: 2.5rem;
  margin-bottom: 25px;
  margin-left: -30px;
  cursor: pointer;
}

#projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* display: inline-block; this does not work*/
}

.projectsSection {
  background-color: #e5e4f0;
  border-top: solid;
  border-bottom: solid;
  border-width: 3px;
  /* width: 100vh; */
}

.projectCards {
  border: solid;
  display: flex;
  flex-direction: column;
  /* width works well for mobile - need to amend in larger screens */
  width: 300px;
  font-size: 1rem;
  border-width: 2.5px;
  box-shadow: 7px 7px #306080;
  /* box-shadow: 10px 10px rgb(91, 181, 241, 0.4); */
  /* box-shadow: 5px 5px #fee440; */
  /* border-color: #f15bb5; */
  border-color: black;
  background-color: #eff0f3;
  /* height: 750px; */
  padding: 1rem;
  margin: 2rem;
  /* text-align: left; */
  object-fit: contain;
  /* border-radius: 30px; */

  /* object-fit: cover; */
}

#projectsTitle {
  padding-top: 20px;
  font-size: 2.5rem;
}

.projectDiscription {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}

.blueTick {
  margin-right: 15px;
  position: relative;
  top: 10px;
  height: 30px;
  width: 30px;
  margin-bottom: 7px;
}

/* .projectDiscriptionTitle {
  text-align: center;
} */

.imgCard {
  object-fit: contain;
  /* opacity: 1; */
  /* border: #f15bb5 solid; */
}

.ProjectButtonWrapper {
  display: flex;
  justify-content: center;
}

.projectButton,
.submitButton {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
  border: solid;
  background-color: #d9d5f5;
  font-family: "Dosis", sans-serif;
  color: black;
  border-color: #f15bb5;
  border-width: 3px;
  box-shadow: 5px 5px #306080;
  margin: 20px 20px 20px 20px;

  /* padding: 10px 0px 5px 0px; */
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.projectButton {
}

.projectButton:hover {
  transition: 0.1s;
  transform: scale(1.15);
}

/* .buttonWrapperInner {
  display: flex;
  margin-top: 10px;
  padding-bottom: 5px;
  background-color: #1f51ff;
  width: 150px;
  height: 70px;
  display: inline-block;

  position: relative;
  left: 300px;
  top: -100px;
  z-index: ;
} */

.crimeCheckerCard {
  padding-top: 30px;
}

#homageImage,
#crimeCheckerImage,
#simpsons,
#agifyImage {
  /* height: 200px;
  width: 200px; */
  object-fit: contain;
  border: black solid;
  box-shadow: 5px 5px #306080;
  width: 90%;
  height: 100%;
}

#crimeCheckerImage,
#agifyImage {
  /* object-fit: cover; did not work */
  /* makes the image a percent of the container, cool  */
  /* width: 80%;
  height: 100%; */
}

.formWrapper {
  /* height: 300px;
  width: 300px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

form {
  /* padding: 100px; */
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  display: flex;
  margin: 5px;
  padding: 10px;
  border: black solid;
  width: 300px;
  font-size: 1rem;
  border-width: 2.5px;
  box-shadow: 7px 7px #306080;
}

/* phone size */
/* The above applies until the screen reaches 750px */

/* smaller than or equal to: */
@media screen and (max-width: 850px) {
  #navBarItemsWrapper {
    display: none;
    /* Anything under 600px the nav bar wont appear */
  }
  #introSection {
    max-width: 520px;
  }
}

@media screen and (min-width: 849px) {
  /* #navBarItemsWrapper {
    display: flex;
  } */
  #burgerSvg {
    display: none;
  }

  .navCloseButton {
    visibility: visible;
    opacity: 1;
  }

  #introSection {
    font-size: 2.5rem;
  }

  .selfie {
    width: 300px;
  }

  .nameTitle {
    font-size: 2rem;
  }

  #headerContainer {
    height: 110px;
  }

  #navBarItemsWrapper {
    position: relative;
    top: 20px;
  }

  .selfieWrapper,
  #introSection,
  .introIconsWrapper {
    display: flex;
    justify-content: center;
  }

  .projectCards {
    width: 700px;
    font-size: 1.5rem;
  }

  .projectButton {
    width: 140px;
    height: 50px;
    font-size: 1.2rem;
    align-items: center;
  }

  .formInput {
    width: 600px;
    margin: 7px;
  }

  @media screen and (min-width: 1049px) {
  }
}

/* boiler plate stuff */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
